	<div class="l-header">
		<header class="header">
			<div class="l-logoarea">
				<div class="logoarea">
					<div class="logoarea-title">Site Name</div>
				</div>
			</div>
			<div class="l-globalnav">
				<div class="globalnav">
					●●●
				</div>
			</div>
		</header>
	</div>