.info {
	border: 1px solid #00f;
	.info-header {
		border: 1px solid #00f;
	}
	.info-body {
		border: 1px solid #00f
	}
}

.info_module1 {
	border: 1px solid #f00;
	.info_module1-header {
		border: 1px solid #f00;
	}
	.info_module1-body {
		border: 1px solid #f00;
	}
}
