<!DOCTYPE HTML>
<html lang="ja" xmlns:fb="https://www.facebook.com/2008/fbml">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="UTF-8">
<meta name="theme-color" content="#000">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">
<title>Title</title>
<link rel="stylesheet" href="/css/style.css" media="all">
</head>
<body>
	<div class="l-main">
		<main class="main">
			<div class="l-section">
				<section class="section">
					<header class="section-header">
						<h1>this is h1</h1>
					</header>
					<div class="section-body">
						<p class="section-text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわゐゑをん</p>

						<!--  -->
						<div class="l-section l-section--h2">
							<section class="section section--h2">
								<header class="section-header">
									<h2>this is h2</h2>
								</header>
								<div class="section-body">
									<p class="section-text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわゐゑをん</p>

									<!--  -->
									<div class="l-section l-section--h3">
										<section class="section section--h3">
											<header class="section-header">
												<h3>this is h3</h3>
											</header>
											<div class="section-body">
												<p class="section-text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわゐゑをん</p>
											</div>
										</section>
									</div>
									<!--  -->
									<div class="l-section l-section--h3">
										<section class="section section--h3">
											<header class="section-header">
												<h3>this is h3</h3>
											</header>
											<div class="section-body">
												<p class="section-text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわゐゑをん</p>
											</div>
										</section>
									</div>

								</div>
							</section>
						</div>
						<!-- /.l-section--h2 -->

					</div>
				</section>
			</div>
			<!-- /.l-section -->
		</main>
	</div>
	<!-- /.l-main -->

	<div class="l-sub">
		<div class="sub">
			<div class="l-hoge">
				<div class="hoge">this is hoge module</div>
			</div>

			<div class="l-foo">
				<div class="foo">this is foo module</div>
			</div>
		</div>
	</div>
	<!-- /.l-sub -->
</body>
</html>