@charset "utf-8";
// color
$color_red: #f00;
$color_gray: #333;

// $site_base_color: #3db680;
$site_base_color: #0af;

//
$text_color: #333;
$text_link_color: #3db680;

// font size
$font_size_xlarge: 22px;
$font_size_large: 20px;
$font_size_medium: 18px;
$font_size_small: 16px;
$font_size_xsmall: 14px;

// font size
$line_height_medium: 2.0;
$line_height_small: 1.8;