.top {
	border: 1px solid #00f;
	.top-header {
		border: 1px solid #00f;
	}
	.top-body {
		border: 1px solid #00f
	}
}

.top_module1 {
	border: 1px solid #f00;
	.top_module1-header {
		border: 1px solid #f00;
	}
	.top_module1-body {
		border: 1px solid #f00;
	}
}
