<!DOCTYPE HTML>
<html lang="ja" xmlns:fb="https://www.facebook.com/2008/fbml">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="UTF-8">
<meta name="theme-color" content="#000">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">
<title>Title</title>
<link rel="stylesheet" href="/css/top/style.css" media="all">
</head>
<body>
{{> header}}
	<div class="l-main">
		<main class="main">
			<div class="l-section">
				<section class="section">
					<header class="section-header">
						<h1>城ヶ島</h1>
					</header>
					<div class="section-body">
						<p class="section-text">城ヶ島（じょうがしま）は、神奈川県三浦半島の南端に位置する島。周囲長約4 km、面積0.99 km²で、神奈川県最大の自然島である。東西幅約1.8 km、南北幅約0.6kmと東西に細長い菱形の地形であり、東西南北にそれぞれ安房ヶ崎（東）、長津呂崎（西）、赤羽根崎（南）、遊ヶ崎（北）という岬がある。長津呂崎には城ヶ島灯台、安房ヶ崎には安房埼灯台が建つ。安房ヶ崎は神奈川県の最南端でもある（北緯 35゜ 7'32）。行政区分は三浦市で、220世帯604人が暮らす（2005年10月1日現在）。<br>しばしば伊豆半島の城ヶ崎と混同されるが、三浦三崎周辺に城ヶ崎という地名は存在しない。</p>
						<p class="section-text">風光明媚な三浦半島の情景を凝縮したような景観で知られる、鎌倉時代以来の景勝地である。漁業、軍事、交通、文学に深く関わってきた多面的な歴史を持っており、大正時代に北原白秋の『城ヶ島の雨』（後述）が評判を呼ぶと、ロマンの島として全国に名を知られるようになった。大正末期から終戦までは東京湾要塞の一部として砲台が存在したが、戦後に「城ヶ島公園」として開放された。現在は磯釣、磯遊びに適する行楽地として知られる他、三崎と共に海を囲み、遠洋漁業基地三崎漁港の一角を成す。<br>三崎との距離が約500mと近いため、歴史的にも三浦三崎の一部と言える存在である。かつては三崎仲崎岸壁より出ていた渡し舟が唯一の渡島手段であったが、1960年に城ヶ島大橋が開通すると三崎との一体化は一層進行した。</p>

						<!--  -->
						<div class="l-section l-section--h2">
							<section class="section section--h2">
								<header class="section-header">
									<h2>戦後〜県立城ヶ島公園（h2）</h2>
								</header>
								<div class="section-body">
									<p class="section-text">遊ヶ崎に弥生時代の遺跡があり、食料調達としての漁はその頃から行われていたと考えられる。商いとしての漁業は江戸時代、江戸の発展に呼応するように始まった。夏には海士と呼ばれる男達が裸潜水漁でアワビ、サザエ等を採取し、冬には覗突漁（舫丁）で魚を突いた。併せて小規模な網漁（磯立網、七目網など）も行われ、1649年には海老網漁が始まっている。また、鰹などの回遊魚も出荷していた。水揚げされた魚介は当時の快速艇である押送り舟（おしょくり）で江戸に運ばれた。1781年には城ヶ島の戸数68の内、1軒が商家の他は全て漁師であったと伝わっており、漁業は正に城ヶ島の生業であった。明治時代にはサンマの流し網漁を相模湾で行うようになった。<br>現在、対岸の三崎と共に遠洋漁業基地の一角を成しているが、島を拠点とする漁業は刺し網、採貝、採藻などの沿岸漁業が中心である。特にアワビは『新かながわの名産100選』に選ばれている[1]。また、神奈川県水産技術センターでは、水産資源の研究が大規模に行われている。</p>

									<!--  -->
									<div class="l-section l-section--h3">
										<section class="section section--h3">
											<header class="section-header">
												<h3>島名の由来（h3）</h3>
											</header>
											<div class="section-body">
												<p class="section-text">樹木は北岸に集中して生えている。海風が強いため、南岸の崖には樹木が殆ど生えておらず、島の台地上の樹木は北側に傾いて生える。スイセン、ハマユウ、ハマナデシコ、ハマゴウ、イソギク、アシタバ等の海浜植物が自生する。台地上には人の背丈を遥かに越えるハチジョウススキが密生しており、眺望が効く場所は限られる。</p>
											</div>
										</section>
									</div>
									<!--  -->
									<div class="l-section l-section--h3">
										<section class="section section--h3">
											<header class="section-header">
												<h3>島名の由来（h3）</h3>
											</header>
											<div class="section-body">
												<p class="section-text">樹木は北岸に集中して生えている。海風が強いため、南岸の崖には樹木が殆ど生えておらず、島の台地上の樹木は北側に傾いて生える。スイセン、ハマユウ、ハマナデシコ、ハマゴウ、イソギク、アシタバ等の海浜植物が自生する。台地上には人の背丈を遥かに越えるハチジョウススキが密生しており、眺望が効く場所は限られる。</p>
											</div>
										</section>
									</div>

								</div>
							</section>
						</div>
						<!-- /.l-section--h2 -->

						<!--  -->
						<div class="l-section l-section--h2">
							<section class="section section--h2">
								<header class="section-header">
									<h2>戦後〜県立城ヶ島公園（h2）</h2>
								</header>
								<div class="section-body">
									<p class="section-text">遊ヶ崎に弥生時代の遺跡があり、食料調達としての漁はその頃から行われていたと考えられる。商いとしての漁業は江戸時代、江戸の発展に呼応するように始まった。夏には海士と呼ばれる男達が裸潜水漁でアワビ、サザエ等を採取し、冬には覗突漁（舫丁）で魚を突いた。併せて小規模な網漁（磯立網、七目網など）も行われ、1649年には海老網漁が始まっている。また、鰹などの回遊魚も出荷していた。水揚げされた魚介は当時の快速艇である押送り舟（おしょくり）で江戸に運ばれた。1781年には城ヶ島の戸数68の内、1軒が商家の他は全て漁師であったと伝わっており、漁業は正に城ヶ島の生業であった。明治時代にはサンマの流し網漁を相模湾で行うようになった。<br>現在、対岸の三崎と共に遠洋漁業基地の一角を成しているが、島を拠点とする漁業は刺し網、採貝、採藻などの沿岸漁業が中心である。特にアワビは『新かながわの名産100選』に選ばれている[1]。また、神奈川県水産技術センターでは、水産資源の研究が大規模に行われている。</p>
									<!--  -->
									<div class="l-section l-section--h3">
										<section class="section section--h3">
											<header class="section-header">
												<h3>島名の由来（h3）</h3>
											</header>
											<div class="section-body">
												<p class="section-text">樹木は北岸に集中して生えている。海風が強いため、南岸の崖には樹木が殆ど生えておらず、島の台地上の樹木は北側に傾いて生える。スイセン、ハマユウ、ハマナデシコ、ハマゴウ、イソギク、アシタバ等の海浜植物が自生する。台地上には人の背丈を遥かに越えるハチジョウススキが密生しており、眺望が効く場所は限られる。</p>
											</div>
										</section>
									</div>
								</div>
							</section>
						</div>
						<!-- /.l-section--h2 -->

					</div>
				</section>
			</div>
			<!-- /.l-section -->
		</main>
	</div>

	<!-- 
	<div class="l-sub">
		<div class="sub">
			<div class="l-hoge">
				<div class="hoge">this is hoge module</div>
			</div>

			<div class="l-foo">
				<div class="foo">this is foo module</div>
			</div>
		</div>
	</div> -->

{{> footer}}
</body>
</html>